<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Atendimentos Realizados" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/atendimento/widgets/realizadoTable.html"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Atendimentos em Andamento" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/atendimento/widgets/andamentoTable.html"></div>
      </div>
    </div>
  </div>
</div>