<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Atendentes Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/usuarios/widgets/atendenteTable.html"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Motoristas Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/usuarios/widgets/motoristaTable.html"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Médicos Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/usuarios/widgets/medicoTable.html"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div ba-panel ba-panel-title="Enfermeiros Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/usuarios/widgets/enfermeiroTable.html"></div>
      </div>
    </div>
  </div>
</div>