<div class="horizontal-scroll">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success btn-with-icon" data-toggle="modal" ng-click="open('app/pages/cadastros/base/modalTemplates/atendenteModal.html', 'lg')"><i class="ion-plus-round"></i>Novo</button>
    <button type="button" ng-disabled="true" class="btn btn-primary btn-with-icon"><i class="ion-edit"></i>Editar</button>
    <button type="button" ng-disabled="true" class="btn btn-danger btn-with-icon"><i class="ion-trash-a"></i>Excluir</button>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="cod_base_samu" st-sort-default="true">#</th>
      <th st-sort="nome">Nome</th>
      <th st-sort="descricao">Descrição</th>
      <th st-sort="estado">Estado</th>
      <th st-sort="cidade">Cidade</th>
      <th st-sort="bairro">Bairro</th>
      <th st-sort="usuarios">Usuários</th>
      <th st-sort="viaturas">Viaturas</th>
      <th>Ações</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="nome" placeholder="Nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="descricao" placeholder="Descrição" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="estado" placeholder="Estado" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="cidade" placeholder="Cidade" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="bairro" placeholder="Bairro" class="input-sm form-control search-input" type="search"/>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in ::smartTableData">
      <td class="table-id">{{item.cod_base_samu}}</td>
      <td>{{item.nome}}</td>
      <td>{{item.descricao}}</td>
      <td>{{item.estado}}</td>
      <td>{{item.cidade}}</td>
      <td>{{item.bairro}}</td>
      <td>{{item.usuario.lenght}}</td>
      <td>{{item.viatura.lenght}}</td>
      <td></td>
    </tr>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>