<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Atendentes Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/viaturas/widgets/atendenteTable.html"></div>
      </div>
    </div>
  </div>
</div>