<div
          ba-panel
          ba-panel-title="Manutenção - Enfermeiro"
          ba-panel-class="with-scroll">
        <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputWebsite">Website</label>
      <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
    </div>
  </div>
</div>
<button type="submit" class="btn btn-success" ng-click="$dismiss()">Salvar</button>
<button type="submit" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
      </div>