<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Bases Samu" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/cadastros/base/widgets/baseTable.html"></div>
      </div>
    </div>
  </div>
</div>