<div class="horizontal-scroll">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success btn-with-icon" data-toggle="modal" ng-click="open('app/pages/usuarios/modalTemplates/atendenteModal.html', 'lg')"><i class="ion-plus-round"></i>Novo</button>
    <button type="button" ng-disabled="true" class="btn btn-primary btn-with-icon"><i class="ion-edit"></i>Editar</button>
    <button type="button" ng-disabled="true" class="btn btn-danger btn-with-icon"><i class="ion-trash-a"></i>Excluir</button>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="firstName">Nome</th>
      <th st-sort="lastName">Último Nome</th>
      <th st-sort="username">Login</th>
      <th st-sort="email">Email</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="firstName" placeholder="Nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Último Nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="username" placeholder="Login" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Email" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.username}}</td>
      <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
    </tr>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>