html {
  position: relative;
  min-width: 320px; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font: 12px/16px "Roboto", sans-serif;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; }

.page-not-found-modal {
  width: 638px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 300;
  color: #ffffff;
  padding: 32px;
  text-align: center; }
  .page-not-found-modal h1 {
    font-weight: 300;
    margin-bottom: 32px; }
  .page-not-found-modal p {
    font-size: 16px;
    line-height: 24px; }
  .page-not-found-modal a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #fe8900;
    display: inline-block; }
    .page-not-found-modal a:hover {
      color: #d87400; }
